[submodule "vujade-python"]
	path = vujade-python
	url = https://github.com/vujadeyoon/vujade-python
[submodule "lib/external/quic/qidk"]
	path = lib/external/quic/qidk
	url = https://github.com/quic/qidk
[submodule "lib/external/dnn/InternVideo"]
	path = lib/external/dnn/InternVideo
	url = https://github.com/OpenGVLab/InternVideo
